.position_cover {
    
    
    margin-top: 460px;
    margin-left: -335px;
    padding-bottom: 10px;
}

.position_cover_livre {


    margin-top: 460px;
    margin-left: -305px;
    padding-bottom: 10px;
}

.position_scie {
    
    width: 322px;
    height: 298px;
    
    flex-shrink: 0;
    margin-left:-350px;
    margin-top: 300px;
}

.titre_article {
    width: 350px;
        height: 94px;
        flex-shrink: 0;
        color: #F8F8F8;
        text-align: center;
        font-family: Roboto Slab;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
    
        padding: 10px;
        margin-left: -280px;
        margin-top: 125px;
}

.lien {
    text-decoration:none;
}