.carrousel_parent-ecrans {
    display: flex;
    width: 95%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-bottom: 10px;
    
    
}

.carrousel_ecran {
    width: 95%;
    flex: none;
    scroll-snap-align: start;
    display: grid;
    place-items: center;
    margin-right: 20px;
}

.carrousel_ecran figure {
    margin: 0;
}

.carrousel {
    position: relative;
    max-width: 500px;
    margin: none;
    padding-bottom: var(--space3x);
    
}

.carrousel_btn {
    position: absolute;
    top: 32.5%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: hwb(0 0% 0% / 0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.carrousel_btn-avant {
    left: 10px;
}

.carrousel_btn-apres {
    right: 15px;
}

.carrousel_ecran_img {
    width: 500px;
    max-width: 100%;
    border-radius: 15px;
    border: 2px solid #FD5B5B;
    padding: 5px;
    border-radius: 8px;
}



.premier_carrousel {
    margin-left: 10px;
    
}

.text_carrousel {
    width:auto;
    text-align:center;
    font-family:Roboto;
    color:#fff;
    font-size:30px

    
}

.decoration-carrousel {
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 8px;
}

.cadre_texte {
    
    border: 2px solid #fff;
    display: inline-block;
    padding: 5px;
    background-color: #FD5B5B;
    border-radius: 10px;
        
   
}

.centre_cadre {
    text-align:center;
}