.title {
    width: 182px;
    height: 72.864px;
    flex-shrink: 0;
    color: var(--red2);
    text-align: center;
    font-family: Nosifer;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
        
}

.croix {
    margin-top: -210px;
    margin-left: 275px;
}

.menu_position {
    margin-top: 49.6px;
    margin-left: 305px;
    
}

.logo_position {
    margin-top: 30px;
    margin-left: -325px;
}

.title_position {
    
    margin-left: -240px;
}

.fixe {
    position: fixed;
    z-index: 10;
    display:flex;
}

.header {
    display: flex;
    


}

.header_padding {
    padding: 100px var(--space3x);
}

.header--home {
    
    background: linear-gradient(to bottom, var(--black), var(--red));
}

.logo-img {
    max-width: 100%;
    
}

.position_cover_home{
    
    margin-top:130px;
    margin-left:-275px;
    padding:10px;
    width:335px;
}





