.background {
    background-color: var(--red)
}

.section {
    background-color: var(--red-section)
}

.h1 {
    width: 350px;
    height: 94px;
    flex-shrink: 0;
    color: #F8F8F8;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;

    padding : 10px;
    
}

.h3 {
    width: 300px;
    height: 25px;
    flex-shrink: 10;

    color: #F8F8F8;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

    
    margin-left: 25px;
    padding:10px;
}



.h2 {
    width: 350px;
    height: 25px;
    flex-shrink: 10;

    color: #F8F8F8;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;


    
    padding: 10px;
}

.intertitre_espace {
    padding-bottom: 30px;
}

.h2-2 {
    width: 375px;
    height: 25px;
    flex-shrink: 10;

    color: #F8F8F8;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;


    padding-top: 10px;
    padding-bottom: 30px;
}

.introduction {
    display: flex;
    width: 302px;
    height: 100px;
    padding-left: 15.895px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;

    color: #F8F8F8;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-left:17.5px;
}

.collage {
    margin-top:-28px;
}

.ligne_blanche {
    width: 275px;

    height: 2.5px;

    background-color: #ffffff;

    margin-left: 50px;

}

.h4_droite {
    display: flex;
    width: 155px;
    height: 159px;
    flex-shrink: 0;
    color: #F8F8F8;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-left: -3%;

}

.titre_frise {
    
    width: 325px;
    height: 94px;
    flex-shrink: 0;
    color: #F8F8F8;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    
    padding: 10px;
    margin-left: -270px;
    margin-top: 125px;
        
}

.espace {
    padding: 10px;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.image_center {
    margin: 0 auto;
    display: block;
}





.container_gauche {
    
    margin-left: 0px;
    margin-top: -30px;
    padding: 30px;
}

.container_droit {
    display: flex;
    margin-left: 160px;
    margin-top: -287.5px;
    padding: 30px;
    height:224px;
}

.container img {
    margin-left: 0%;
    margin-right: 0px;
}

.h4 {
    width: 335px;
    
    flex-shrink: 0;
    color: #F8F8F8;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.figure_style {
    text-align: center;
}


.figcaption_style {
    font-style: italic;
    color: #d5c2c2;
    
}

.flex {
    display: flex;
}

.image1 {
    z-index: 1;
}

.image2 {
    z-index: 2;
}

.stacked-image {
   
    top: 0;
    left: 0;
}



.position_tele {
    margin-left: -320px;
    margin-top: -250px;
    padding-bottom: 50px;
}

.remonte_2 {
    margin-top: -30px;
}

.rectangle_frise {
    
    width: 255px;
    height: 2150px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(1, 1, 1, 0.00) 0%, #010101 53.02%);
    margin-left: 60px;
}

.position_triangle {
    margin-left: 40px;
    margin-top: -2px;
    padding-bottom: 2px;
}

.position_livre {
    margin-top: 40px;
    
}

.legende_livre {
    
    width: 255px;
    flex-shrink: 0;
    color: #F8F8F8;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    margin-top: 275px;
    
}

.legende_livre_2 {

    width: 228px;
    flex-shrink: 0;
    color: #F8F8F8;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    margin-top: 275px;
    margin-left: 15px;
}

.legende_livre_auteur {

    width: 255px;
    flex-shrink: 0;
    color: #FF7689;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    margin-top: -10px;

}

.rectangle_date {

    display:flex;
    width: 64px;
    height: 29px;
    flex-shrink: 0;
    margin-top: -300px;
    margin-left: 231px;
}

.rectangle_date_2 {

    display: flex;
    width: 64px;
    height: 29px;
    flex-shrink: 0;
    margin-top: -260px;
    margin-left: 231px;
}



.position_date {
    width: 63px;
    height: 27px;
    flex-shrink: 0;
    color: #010101;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 110%;
    margin-left: -65px;
    margin-top: 4px;

}

.espace_galerie {
    padding-top: 30px;
}

.galerie_legende {
    
    margin-left: 65px;
    margin-top: -5px;
}

.legende_texte {
    width: 228px;
    flex-shrink: 0;
    color: #010101;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    text-align: center;
    margin-top: -15px;
    margin-left: 7.5px;
    
}

.galerie_legende_position {
    margin-top: -65px;
}

.barre {
    width: 241px;
    height: 50px;
    background-color: #FD5B5B;
    border-radius: 0 28.5px 28.5px 0;
    
}

.apropos {
    width: 228px;
    height: 57px;
    flex-shrink: 0;
    color: #F8F8F8;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    
}

.petits_espace {
    margin-top: -25px;
}

